<div class="cell-item">
    <div class="cell">
        <div class="cell-run" id="cell_run_{{ id }}" onclick="runCell({{ id }})">
            <i class="play icon"></i>
        </div>
        <div class="cell-code" onfocusout="saveCell({{ id }})">
            <div class="editor" id="cell_code_{{ id }}">{{ code }}</div>
        </div>
    </div>
    <div class="cell-toolbar">
        <div class="cell-buttons">
        <span data-tooltip="Delete cell" data-position="right center" onclick="deleteCell({{ id }})">
            <i class="ui trash alternate outline link icon"></i>
        </span>
        <span data-tooltip="Save" data-position="right center" onclick="saveCell({{ id }})">
            <i class="save outline link icon"></i>
        </span>
        </div>
        <div class="filler"></div>
        <div class="cell-status" id="cell_stat_{{ id }}">
            <i class=""></i>
        </div>
    </div>

</div>
