<div class="cell-item">
    <div class="cell">
        <div class="cell-run">
            <i class="play icon"></i>
        </div>
        <div class="cell-code">
            <div class="editor" id="cell_{{ id }}">some code here ...</div>
        </div>
    </div>
    <div class="cell-buttons">
        <span class="ui disabled circular icon basic button" data-tooltip="Add cell" data-position="right center">
            <i class="ui disabled plus icon"></i>
        </span>
        <span data-tooltip="Delete cell" data-position="right center">
            <i class="ui trash alternate outline link icon"></i>
        </span>
    </div>
</div>
