{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'notebooks/styles/detail.css' %}">
{% endblock %}

{% block title %}Notebook{% endblock %}

{% block body %}


<div class="toolbar">
    <h1>{{ object.name | title }}</h1>

    <div class="filler"></div>

    <button class="ui icon button" data-tooltip="Add new cell">
        <i class="plus icon"></i>
    </button>
    <button class="ui disabled icon button" data-tooltip="Factory reset">
        <i class="disabled sync alternate icon"></i>
    </button>
    <button class="ui icon button" data-tooltip="Start session">
        <i class="power off icon"></i>
    </button>
    <a class="ui icon negative button" data-tooltip="Delete notebook" href="{% url 'notebooks:delete' object.id %}">
        <i class="trash alternate icon"></i>
    </a>
</div>


<div class="cell-list">
    {% include 'notebooks/cell_item.html' with id=1 %}
    {% include 'notebooks/cell_item.html' with id=2 %}
</div>

{% endblock %}
