{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<style>li {
    font-size: 17px;
    list-style: none;
    margin: 15px auto;
}
</style>
{% endblock %}

{% block title %}Secret Details{% endblock %}

{% block body %}


<div class="ui segment">
    <ul>
        <li><a href="{% url 'workflows:list_secret' %}">Back to list</a></li>
        <li><strong>Name: </strong>{{ secret.name }}</li>
        <li><strong>value: </strong>{{ secret.value }}</li>

        <div style="display: flex;">
            <form method="post" style="
    margin: 10px;" action="{% url 'workflows:delete_secret' secret.pk%}">{% csrf_token %}
                <input type="submit" value="Delete" class="negative ui button">
            </form>

        </div>

    </ul>
</div>


{% endblock %}