{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles/basic_form.css' %}">
{% endblock %}

{% block title %}Create Task{% endblock %}

{% block body %}

<div class="ui center aligned page grid segment">
    <form enctype="multipart/form-data" action="{% url 'workflows:create_python_task' %}" method="post" class="ui form">
        {% csrf_token %}
        {% include 'registration/basic_form.html' with form=form title='Create a python task' submit_value='Create Task'%}
    </form>
</div>


{% endblock %}

