{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
{% endblock %}

{% block title %}Workflow Execution Details{% endblock %}

{% block body %}
    <div class="ui segment">
        <ul>
            <li><a href="{% url 'workflows:detail_workflow' workflow_execution.workflow.id %}">Back to workflow</a></li>
            <hr>
            <li>Workflow Name: {{ workflow_execution.workflow.name }}</li>
        </ul>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>

    <script>
        var colors = ['#2685CB', '#4AD95A', '#FEC81B', '#FD8D14', '#CE00E6', '#4B4AD3', '#FC3026', '#B8CCE3', '#6ADC88', '#FEE45F'];
        var datasetdata = [];
        var labels = {{ task_execution_status|safe }};
        function getdata(i) {
            return [{{ task_execution_run_time.13 }}, '{{ task_execution_status.13}}']
        }

        for (var i = 0; i < {{ task_execution_count }}; i++) {
            datasetdata[i] = {
                label: "Task " + i,
                data: getdata(i),
                backgroundColor: colors[i],
                hoverBackgroundColor: colors[i],
                borderStyle: 'solid',
                borderWidth: 2,
            }
        }
        var ctx = document.getElementById('myChart').getContext('2d');
        var graph_data = {
            labels: labels,
            datasets: datasetdata
        };
        new Chart("myChart", {
            type: "line",
            data: graph_data });
    </script>
{% endblock %}
