{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block title %}Workflow Details{% endblock %}

{% block body %}


    <div class="ui segment">
        <ul>
            <li><strong>Name: </strong>{{ workflow.name }}</li>

            <li><strong>Creator: </strong>
                {% if workflow.creator.get_full_name %}
                    {{ workflow.creator.get_full_name }}
                {% else %}
                    {{ workflow.creator.username }}
                {% endif %}
            </li>

            <li>
                <br>
                <h3>Tasks:</h3>
                {% if workflow.task_dependencies.all %}
                    <div class="ui relaxed divided list">
                        {% for task_dependency in workflow.task_dependencies.all %}
                            <div class="item">
                                <i class="large tasks middle aligned icon"></i>
                                <div class="content">
                                    <a class="header"
                                       href="{% url 'workflows:detail_dependency' wf_pk=workflow.id pk=task_dependency.id %}">
                                        {{ task_dependency.task.name }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <li>No tasks registered to the workflow</li>
                {% endif %}
            <li><a href="{% url 'workflows:create_task' %}">create new task</a></li>
            <li><a href="{% url 'workflows:create_dependency' workflow.id %}">add new task dependency</a></li>
            <br>
            <div style="display: flex;">
                <span style="margin: 10px;">
                    <a href="{% url 'workflows:delete_workflow' workflow.id %}" class="negative ui button">Delete Workflow</a>
                </span>
                <form method="post" action="{% url 'workflows:run_workflow' workflow.id %}" style="margin: 10px;">
                    {% csrf_token %}
                    <input type="submit" value="Run workflow" class="ui button">
                </form>
                <span style="margin: 10px;">
                <a href="{% url 'workflows:schedule_workflow' workflow.id %}" class="ui button">Schedule</a>
            </span>
            </div>
        </ul>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script>
        var colors = {{ colors|safe }};
        var tasks = {{ tasks|safe }};
        var task_execution_run_time = {{ task_executions_run_time|safe }};
        var graph_labels = {{ execution_timestamps|safe }};
        datasets_list = []
        for (let i = 0; i < {{ tasks|length }}; i++) {
            datasets_list.push({
                label: tasks[i],
                backgroundColor: colors[i],
                borderColor: colors[i],
                borderWidth: 3,
                data: task_execution_run_time[i],
                fill: false,
            });
        }
        new Chart("myChart",
            {
                type: 'line',
                options: {
                    legend: {display: true},
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                },
                data: {
                    labels: graph_labels,
                    datasets: datasets_list,
                }
            });
    </script>
{% endblock %}
