{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
{% endblock %}

{% block title %}Task Execution Details{% endblock %}

{% block body %}

    <div class="ui segment">
        <ul>
            <li><a href="{% url 'workflows:detail_task' task_execution.task.id %}">Back to task</a></li>
            <hr>
            <li><strong>Task Name: </strong>{{ task_execution.task.name }}</li>
            <li><strong>Status: </strong>{{ task_execution.get_status_display }}</li>

            <li><strong>Log:</strong></li>
            <li>
                {% if task_execution_have_log %}
                    <div class="ui visible message">
                        <p>{{ task_execution_log }}</p>
                    </div>
                {% else %}
                    <div class="ui visible message red">
                        <p>log not found</p>
                    </div>
                    <p style="white-space: pre-line;">{{ task_execution_log }}</p>
                </div>
            {% else %}
                <div class="ui visible message red">
                    <p>log not found</p>
                </div>
            {% endif %}

            </li>

            <li><strong>Extracted datasets: </strong>
                <ul>
                    {% for dataset in extracted_datasets %}
                        <li><a href="{% url 'datasets:detail' dataset.id %}">{{ dataset }}</a>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}