{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
{% endblock %}

{% block title %}Task Dependency Details{% endblock %}

{% block body %}
    <div class="ui segment">
        <ul>
            <li><a href="{% url 'workflows:detail_workflow' task_dependency.workflow.id %}">Back to workflow</a></li>
            <li>
                <strong>Task: </strong>
                <a href="{% url 'workflows:detail_task' task_dependency.task.id %}">{{ task_dependency.task.name }}</a>
            </li>
            <h3>Parent Tasks:</h3>
            <div class="ui relaxed divided list">
                {% if task_dependency.parent_tasks.all %}
                    {% for parent_task in task_dependency.parent_tasks.all %}
                        <div class="item">
                            <i class="large tasks middle aligned icon"></i>
                            <div class="content">
                                <a class="header"
                                   href="{% url 'workflows:detail_dependency' wf_pk=parent_task.workflow.id pk=parent_task.id %}">
                                    {{ parent_task.task.name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <li><h4>No Parent Task Dependencies</h4></li>
                {% endif %}
            </div>
        </ul>
    </div>

{% endblock %}