{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<style>
        li {
            font-size: 17px;
            list-style: none;
            margin: 15px auto;
        }

</style>
{% endblock %}

{% block title %}Workflow Details{% endblock %}

{% block body %}

<div class="ui segment">
    <h4><a href="{% url 'workflows:list_workflow' %}">Back to list</a></h4>
    <ul>
        <li><h1>{{ workflow.name }}</h1></li>
        <div class="ui pointing secondary menu">
            <a class="item active" data-tab="DAG">Task Dependencies DAG</a>
            <a class="item" data-tab="DURATION">Tasks Duration</a>
            <a class="item" data-tab="EXECUTIONS">Executions History</a>
        </div>
        <div class="ui tab active" data-tab="DAG">
            {% include 'workflows/DAG.html' %}
        </div>
        <div class="ui tab" data-tab="DURATION">
            {% include 'workflows/task_duration.html' %}
        </div>
        <div class="ui tab" data-tab="EXECUTIONS">
            {% include 'workflows/workflow_executions_history.html' %}
        </div>
    </ul>
</div>

<script>
    $('.ui.pointing.menu .item').tab();


</script>
{% endblock %}
