{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<style>li {
    font-size: 17px;
    list-style: none;
    margin: 15px auto;
}

#task-excution {
    width: 50px;
    height: 25px;
    margin: 4px;
}
</style>
{% endblock %}

{% block title %}Task Details{% endblock %}

{% block body %}


<div class="ui segment">
    <ul>
        <li><a href="{% url 'workflows:detail_workflow' task.workflow.id %}">Back to list</a></li>
        <li><strong>Name: </strong>{{ task.name }}</li>
        {% for key,value in special_fields.items %}
        <li><strong>{{ key }}: </strong>{{ value }}</li>
        {% endfor %}

        <li><strong>Type: </strong>{{ task.get_task_type_display }}</li>
        <li><strong>Status: </strong>{{ task.status }}</li>
        <li><strong>Creator: </strong>
            {% if task.creator.get_full_name %}
            {{ task.creator.get_full_name }}
            {% else %}
            {{ task.creator.username }}
            {% endif %}
        </li>
        <li><strong>Accessible datasets: </strong>
            <ul>
                {% for dataset_path in accessible_datasets %}
                <li>{{ dataset_path }}<li>
                {% endfor %}
            </ul>
        </li>
        <div style="display: flex;">
            <form method="post" style="
    margin: 10px;" action="delete/">{% csrf_token %}
                <input type="submit" value="Delete" class="negative ui button">
            </form>
            <form method="post" style="
    margin: 10px;" action="run/">{% csrf_token %}
                <input type="submit" value="Run task" class="ui button">
            </form>

        </div>

        {% if task.executions %}
        <h3>executions:</h3>
        {% for execution in task.executions %}
        <div id="task-excution" style="background: {{ execution.status_color }};">{{ execution.status }}</div>
        {% endfor %}
        {% endif %}
    </ul>
</div>


{% endblock %}
