{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }


    </style>
{% endblock %}

{% block title %}Workflow Details{% endblock %}

{% block body %}


    <div class="ui segment">
        <ul>
            <li><h1>{{ workflow.name }}</h1></li>

            <li><strong>Creator: </strong>
                {% if workflow.creator.get_full_name %}
                    {{ workflow.creator.get_full_name }}
                {% else %}
                    {{ workflow.creator.username }}
                {% endif %}
            </li>
            <li>
                <br>
                <h3>Tasks:</h3>
                {% if workflow.task_dependencies.all %}
                    <div class="ui relaxed divided list">
                        {% for task_dependency in workflow.task_dependencies.all %}
                            <div class="item">
                                <i class="large tasks middle aligned icon"></i>
                                <div class="content">
                                    <a class="header"
                                       href="">
                                        {{ task_dependency.task.name }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <li>No tasks registered to the workflow</li>
                {% endif %}
            <li><a href="{% url 'workflows:create_task' %}">create new task</a></li>
            <li><a href="{% url 'workflows:manage_dependencies' workflow.id %}">add new task dependency</a></li>
            <br>
        </ul>
    </div>
{% endblock %}