{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
{% endblock %}

{% block title %}Task Details{% endblock %}

{% block body %}


    <div class="ui segment">
        <ul>
{#        Fix this return url, go somewhere better instead of the task list#}
            <li><a href="{% url 'workflows:list_task' %}">Back to list</a></li>
            <li><strong>Name: </strong>{{ task.name }}</li>
            {% for key,value in special_display_fields.items %}
                <li><strong>{{ key }}: </strong>{{ value }}</li>
            {% endfor %}

            <li><strong>Type: </strong>{{ task.get_task_type_display }}</li>
            <li><strong>Accessible secret variables: </strong>
                <ul>
                    {% for secret_variable in task.secret_variables.all %}
                        <li>
                            <i class="right triangle icon grey"></i>
                            {{ secret_variable.name }}
                        <li>
                    {% endfor %}
                </ul>
            </li>
            <li><strong>Creator: </strong>
                {% if task.creator.get_full_name %}
                    {{ task.creator.get_full_name }}
                {% else %}
                    {{ task.creator.username }}
                {% endif %}
            </li>
            {% if accessible_datasets %}
                <li><strong>Accessible datasets: </strong>
                    <ul>
                        {% for dataset_path in accessible_datasets %}
                            <li>
                                <i class="right triangle icon grey"></i>
                                {{ dataset_path }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <div style="display: flex;">
                <form method="post" style="margin: 10px;" action="delete/">{% csrf_token %}
                    <input type="submit" value="Delete" class="negative ui button">
                </form>
                <form method="post" style="margin: 10px;" action="run/">{% csrf_token %}
                    <input type="submit" value="Run task" class="ui button">
                </form>
            </div>

            {% if task.executions %}
                <h3>executions:</h3>
                {% for execution in task.executions %}
                    <div class="ui grid" id="task-excution" style="display: inline;">
                        <div class="ui button" style="display: flex;">
                            <h3 class="ui left floated 4 wide column"
                                style="background: {{ execution.status_color }};"><a
                                    href="{% url 'workflows:detail_task_execution' execution.id %}"> {{ execution.get_status_display }}</a>
                            </h3>
                            {% for mark_option in mark_options %}
                                <form method="post"
                                      style="margin: 10px;"
                                      action="{% url 'workflows:stop_task_execution' pk=task.id exec_pk=execution.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="mark_option" value="{{ mark_option.value }}"/>
                                    <input type="submit" value="Mark {{ mark_option.text }}"
                                           class="ui right floated {{ mark_option.color }} button">
                                </form>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </ul>
    </div>

{% endblock %}