{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<style>li {
    font-size: 17px;
    list-style: none;
    margin: 15px auto;
}
</style>
{% endblock %}

{% block title %}Workflows{% endblock %}

{% block body %}
{% if  workflows %}
<h2>Workflows:<br></h2>

<div class="ui relaxed divided list">
    {% for workflow in workflows %}
    <div class="item">
        <i class="large check circle middle aligned icon"></i>
        <div class="content">
            <a class="header" href="{{ workflow.pk }}/">{{ workflow.name }}</a>
            <div class="description">(Type: {{ task.get_task_type_display }} ~ Status: {{ task.status }})</div>
        </div>
    </div>
    {% endfor %}
</div>

<br>

{% include 'data_platform/pagination.html' %}

{% else %}
<h2>No workflows available.</h2>
{% endif %}

<br>
<a href="{% url 'workflows:create_workflow' %}">Add new workflow</a>
<br>


{% endblock %}