{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<style>li {
    font-size: 17px;
    list-style: none;
    margin: 15px auto;
}
</style>
{% endblock %}

{% block title %}Workflows{% endblock %}

{% block body %}
{% if  workflows %}
<h2>Workflows:<br></h2>

<table class="ui very basic table">
    <thead>
        <tr>
        <th>Name</th>
         <th>Creator</th>
        <th>Last run status</th>
        <th>Last run time</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for workflow in workflows %}
        <tr>
            <td>
                <i class="tasks large left aligned icon"></i>
                <a class="header" href="{{ workflow.pk }}/">{{ workflow.name }}</a>
            </td>
            <td>{{ workflow.creator.username }}</td>
            {% if workflow.workflowexecution_set.last %}
                <td>
                    {% with workflow_execution_status=status|get_value:workflow.workflowexecution_set.last.status %}
                    <div class="column"
                        style=" margin: 5px; border-radius: 50%; width: 30px; height: 30px;
                        border-style: solid; border-color: black; border-width: 1px;
                        background-color: {{ workflow_execution_status.color }}"
                        title="status: {{ workflow_execution_status.text }}">
                    </div>
                    {% endwith %}
                </td>
                <td>{{ workflow.workflowexecution_set.last.created_at }}</td>
            {% else %}
            <td>N/A</td>
            <td>N/A</td>
            {% endif %}
            <td style="display: flex;">
                <form method="post" style="margin: 10px 5px;" action="{% url 'workflows:run_workflow' workflow.id %}">
                    {% csrf_token %}
                    <button type="submit" class="positive ui icon button" data-tooltip="Run workflow">
                            <i class="play circle middle aligned icon"></i>
                    </button>
                </form>
                <span style="margin: 10px 2px;">
                    <a href="{% url 'workflows:delete_workflow' workflow.id %}" class="negative ui icon button" data-tooltip="Delete workflow">
                        <i class="trash middle aligned icon"></i>
                    </a>
                </span>
                <span style="margin: 10px 2px;">
                    <a href="{% url 'workflows:schedule_workflow' workflow.id %}" class="ui icon button" data-tooltip="Schedule workflow">
                        <i class="clock icon"></i>
                    </a>
                </span>
                <span style="margin: 10px 2px;">
                    <a href="{% url 'workflows:manage_dependencies' workflow.id %}" class="ui icon button" data-tooltip="Manage task dependencies">
                        <i class="sitemap icon"></i>
                    </a>
                </span>
                <form method="post" style="margin: 10px 2px; display: flex; justify-content: center; align-items: center;" action="">
                    {% csrf_token %}
                    <span class="ui toggle checkbox" style="display: flex; font-size: smaller; color: grey;">
                        <input type="checkbox" name="pause" onchange="toggleLabel(this)">
                    </span>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

{% include 'data_platform/pagination.html' %}

{% else %}
<h2>No workflows available.</h2>
{% endif %}

<br>
<a href="{% url 'workflows:create_workflow' %}">Add new workflow</a>
<br>

<script>
    $('.ui.checkbox').checkbox('check');

    function toggleLabel(element) {
    console.log(element.parentNode.childNodes)
        if(element.parentNode.childNodes[3].textContent == 'ON'){
            element.parentNode.childNodes[3].textContent = 'OFF'
        } else {
            element.parentNode.childNodes[3].textContent = 'ON'
        }
    }
</script>
{% endblock %}
