<style>li{
   font-size: 17px;
   list-style: none;
   margin: 15px auto;}
</style>
<a href="{% url 'workflows:create_task' %}">add new task</a></br>
<ul>
   {% for task in tasks %}
       <li><a href="{{ task.pk }}/">{{task.name}} ({{task.status}})</a></li>
   {% endfor %}
</ul>
