{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
    <style>li {
        font-size: 17px;
        list-style: none;
        margin: 15px auto;
    }
    </style>
{% endblock %}

{% block title %}Tasks{% endblock %}

{% block body %}
    {% if  tasks %}

        {% for task in tasks %}
            <li><a href="{{ task.pk }}/">{{ task.name }}</a>
                <span>(Type: {{ task.get_task_type_display }}  ~  Status: {{ task.status }})</span></li>
        {% endfor %}


        <br>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% else %}
        <h2>No tasks available.</h2>
    {% endif %}

    <br>

    <a href="{% url 'workflows:create_task' %}">add new task</a>
    <br>


{% endblock %}