{% load static %}

<h1 class="header" style="text-align: center;">{{ title }}</h1>
<br>

<link rel="stylesheet" type="text/css" href="{% static 'data_platform/styles/interactive_input.css' %}">
<script src="{% static 'data_platform/scripts/interactive_input.js' %}"></script>


{{ form.non_field_errors }}


<div class="ui grid">
    {% for field in form %}
    <div class="left floated left aligned six wide column {% if field.errors %} field error {% endif %}">
        <label>{{ field.label_tag }}</label>
    </div>
    {% if field.field.interactive_input %}
    <div class="right floated left aligned ten wide column {% if field.errors %} field error {% endif %} interactive_input"
         contenteditable="true" onkeyup="bindTo(event, '{{ field.id_for_label }}')">
    </div>
    {{ field }}
    {% else %}
    {% if field.field.create_link %}
    <div class="right floated left aligned nine wide column {% if field.errors %} field error {% endif %}">
        {{ field }}
    </div>
    <div class="right floated left aligned one wide column"
         style="display: flex; justify-content: center; align-items: center;">
        <a href="{{ field.field.create_link }}?next={{ request.get_full_path }}"><i
                class="green plus icon"></i></a>
    </div>
    {% else %}
    <div class="right floated left aligned ten wide column {% if field.errors %} field error {% endif %}">
        {{ field }}
    </div>
    {% endif %}
    {% endif %}
    {{ field.errors }}
    {% endfor %}
    {% if submit_value %}
    <input type="submit" value="{{ submit_value }}" class="ui button" style="margin-bottom: 30px; margin-top: 30px;">
    {% endif %}
    <input type="hidden" name="next" value="{{ next }}">
</div>