{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}


{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Login</h1></legend>
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    </fieldset>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    <p>Don't have an account?
        <a href="{% url 'users:signup' %}">Sign up</a></p>
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>


{% endblock %}



