{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles/basic_form.css' %}">

{% endblock %}

{% block title %}Signup{% endblock %}

{% block body %}


<div class="form_container">
    <form id='form' action="{% url 'users:signup' %}" method="post" class="long_form">
        {% csrf_token %}
        {% include 'registration/basic_form.html' with form=form title='Signup' submit_value='Signup'%}
        <a href="{% url 'users:login' %}">Have an account? login here.</a>
    </form>
</div>


{% endblock %}

