{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles/basic_form.css' %}">

{% endblock %}

{% block title %}Signup{% endblock %}

{% block body %}


<div class="form_container">
    <form id='form' action="{% url 'users:signup' %}" method="post" class="long_form">
        <h1 class="title">Signup</h1>
        {% csrf_token %}
        <div class="filler">
            <table>{% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ field.errors }}
                    </td>
                </tr>
                {% endfor %}
            </table>

            <input type="submit" value="Signup">
        </div>
        <a href="{% url 'login' %}">Have an account? login here.</a>
    </form>
</div>


{% endblock %}

