.about{
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: arial, sans-serif;
  padding: 30px;
}

.edit_link{
  margin-right; 5px;
  align-self: flex-end;
  position: absolute;
}

