body {
    font-family: arial, sans-serif;
}

.inactive_tag {
    font-style: normal;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.active_tag {
    background-color: #ffedd4;
    color: #ff9600;
    font-style: italic;
    border: 1px solid #ff9600;
    border-radius: 4px;
    padding: 5px;
}

.filter_box {
    max-height: 30%;
    margin: 30px;
    border-width: 1px;
    border-color: #bdbdbd;
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
}

.tags_container {
    display: flex;
    flex-wrap: wrap;
    max-height: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tag {
    margin: 5px;
}

.card_a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.dataset_card {
    padding: 50px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #d1e2ff;
}

.title{
    margin: 20px;
}
