{% load static %}
<html lang="en">

<head>
    {% block head %}
    <!--style, link and other head tags go here-->
    {% endblock %}
    <style>
        body {
            font-family: Garamond, sans-serif;
            overflow-x: hidden;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        html {
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'data_platform/styles/basic.css' %}">
    <meta charset="utf-8">
    <meta name="author" content="SummerCamp_Bakend_Team3">
    <meta name="keywords" content="dataset, workflow, task, data">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>{% block title %}<!--page title goes here-->{% endblock %}</title>
</head>

<body>
    {% include 'data_platform/nav_bar.html' %}
    {% include "data_platform/messages.html" %}
    {% block body %}
    <!--body goes here-->
    {% endblock %}
</body>

</html>
