{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'data_platform/styles/nav_bar.css' %}">

<div class="nav_bar_container">
    <a href="{% url 'dashboard' %}">
        <h1>Data
            <span style="color: rgb(16,84,113);">Platform</span>
        </h1>
    </a>
    <div class="filler"></div>
    <div class="nav_item_container">
        <nav id="navbar">
            <a href="{% url 'datasets:public' %}" class="menu-item">Explore datasets</a>
            {% if not request.user.is_authenticated %}
                <a href="{% url 'users:login' %}" class="menu-item">Login</a>
                <a href="{% url 'users:signup' %}" class="menu-item">Sign up</a>
            {% else %}
                <a href="{% url 'datasets:index' %}" class="menu-item">Datasets</a>
                <a href="{% url 'datasets:list_datasource' %}" class="menu-item">Data Sources</a>
                <a href="{% url 'workflows:list_workflow' %}" class="menu-item">Workflows</a>
                <a href="{% url 'workflows:list_task' %}" class="menu-item">Tasks</a>
                <a href="{% url 'workflows:list_secret' %}" class="menu-item">Secrets</a>
                <a href="{% url 'notebooks:index' %}" class="menu-item">Notebooks</a>
                <a href="{% url 'users:logout' %}" class="menu-item">Sign out</a>
                <span style="font-style: italic">
                    <i class="user circle outline icon"></i>
                    Signed in as: {{ request.user.username }}</span>
            {% endif %}
        </nav>
    </div>
</div>
