{% extends 'data_platform/basic.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles/basic_form.css' %}">
{% endblock %}

{% block title %}Create Email Notification{% endblock %}

{% block body %}


<div class="form_container">
    <form action="{% url 'notifications:create_email_notif' %}" method="post" class="small_form">
        {% csrf_token %}
        {% include 'registration/basic_form.html' with form=form title='Create an email notification' submit_value='Submit'%}
    </form>
</div>

{% endblock %}